<!DOCTYPE html>
<html>

<head>
    <style>
        #user{
        float:right;
        left:340%;
        padding-top:2.5%;
        position:relative;
        color:white;
        }
    </style>
    <meta charset="utf-8">

    <title>{% block title %}Sexto Sentido{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/aulas">Plans</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Sign Out</a>
            </li>
            <li id="user" >
                Usuario: {{user}}
            </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'login' %}">Sign In</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/registration/register">Sign Up</a>
            </li>
            {% endif %}
        </ul>
    </nav>

    <hr>
    <main>
        {% block content %} {% endblock %}
    </main>
    <hr>
</body>

</html>