{% extends 'base.html' %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript">
       setInterval(function(){
           d3.csv('/getAulas', data => {
                var div = document.createElement("div");
                sasa="";

                data.forEach(function(item){
                    console.log(item["CalidadAire"])
                    if(item["CalidadAire"] > 100){
                        sasa += '<a href="/aulaX?id='+item["nroAula"]+'">\
                                <path d="'+item["polygonCoords"]+'" id='+item["nroAula"]+' style="fill :#FF0000 ;fill-opacity:0.2955665 ; stroke:purple;stroke-width:1"></path>\
                             </a>'
                    }
                     sasa += '<a href="/aulaX?id='+item["nroAula"]+'">\
                                <path d="'+item["polygonCoords"]+'" id='+item["nroAula"]+' style="fill :#FFFF00 ;fill-opacity:0.2955665 ; stroke:purple;stroke-width:1"></path>\
                             </a>'
                });

                div.innerHTML = '<svg id="carlitos" height="1000" width="1000" >' + sasa + '</svg> ';

                document.getElementById("manueh").innerHTML="";
                document.getElementById("manueh").appendChild(div);
           })
       }, 500);
    </script>

</head>
<body>

    <center>
        <h1> PLANOS </h1>
    <br><br><br>
     <div id="manueh"></div>

    </center>
</body>


{% endblock %}
