{% extends 'base.html' %}

{% block content %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <link href="css/addons/datatables.min.css" rel="stylesheet">

        <title>Sensors Visualization</title>
        <style>
            body {
                margin: 0px;
              }
              .domain {
                display: none;
              }
              .tick line {
                stroke: #C0C0BB;
              }
              .tick text {
                fill: #8E8883;
                font-size: 10pt;
                font-family: sans-serif;
              }
              .axis-label {
                fill: #635F5D;
                font-size: 30pt;
                font-family: sans-serif;
             }
             @media screen and (max-width:800px){
             .left , .main, .right{width:100%;}
             }

             table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }

            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }

            tr:nth-child(even) {
              background-color: #dddddd;
            }
        </style>

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">

            google.charts.load('current', {'packages':['gauge']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Label', 'Value'],
                    ['Gas', {{ultimoDato.Calidad_Aire}}]
                ]);

                var options = {
                    width: 800, height: 224,
                    redFrom: 600, redTo: 1100,
                    yellowFrom:200, yellowTo: 600,
                    minorTicks: 10,
                    max:1100
                 };

                var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

                chart.draw(data, options);

                setInterval(function() {
                    d3.csv('/getLastData?id={{aula.number}}', data1 => {
                        console.log(data1)
                        data.setValue(0, 1,data1[0]["Calidad_Aire"]);
                        chart.draw(data, options);
                        console.log(data1[0]["Calidad_Aire"])
                    });
                }, 1000);
             }
        </script>
    </head>
    <body>
        <h2 style="position:absolute;top:12%; left:17%"> Grafico Temperatura </h2><br><br>

        <svg width="700" height="400"></svg>
        <script>
            const xValue = d => d.fechaHora;
            const xLabel = 'Time';
            const yValue = d => d.Temperatura;
            const yLabel = 'Temperature';
            const margin = { left: 180, right: 80, top: 20, bottom: 120 };

            const svg = d3.select('svg');
            const width = svg.attr('width');
            const height = svg.attr('height');
            const innerWidth = width - margin.left - margin.right;
            const innerHeight = height - margin.top - margin.bottom;

            const g = svg.append('g')
                .attr('transform', `translate(${margin.left},${margin.top})`);
            const xAxisG = g.append('g')
                .attr('transform', `translate(0, ${innerHeight})`);
            const yAxisG = g.append('g');

            xAxisG.append('text')
                .attr('class', 'axis-label')
                .attr('x', innerWidth / 2)
                .attr('y', 100)
                .text(xLabel);

            yAxisG.append('text')
                .attr('class', 'axis-label')
                .attr('x', -innerHeight / 2)
                .attr('y', -120)
                .attr('transform', `rotate(-90)`)
                .style('text-anchor', 'middle')
                .text(yLabel);


            const xScale = d3.scaleTime()
            const yScale = d3.scaleLinear();

            const xAxis = d3.axisBottom()
              .scale(xScale)
              .tickPadding(15)
              .ticks(5)
              .tickSize(-innerHeight);

            const yTicks = 5;
            const yAxis = d3.axisLeft()
              .scale(yScale)
              .ticks(yTicks)
              .tickPadding(15)
              .tickSize(-innerWidth);

            const line = d3.line()
              .x(d => xScale(xValue(d)))
              .y(d => yScale(yValue(d)))
              .curve(d3.curveBasis);


            const row1 = d => {
              d.fechaHora = new Date(d.fechaHora);
              d.Temperatura = +d.Temperatura;
              return d;
            };

            d3.csv('/getCSV?id={{aula.number}}', row1, data => {
              xScale
                .domain(d3.extent(data, xValue))
                .range([0, innerWidth]);

              yScale
                .domain(d3.extent(data, yValue))
                .range([innerHeight, 0])
                .nice(yTicks);

              g.append('path')
                  .attr('fill', 'none')
                  .attr('stroke', 'steelblue')
                  .attr('stroke-width', 4)
                  .attr('d', line(data));

              xAxisG.call(xAxis);
              yAxisG.call(yAxis);
            });
        </script>

        <center>
            <h2 style="position:absolute;top:12%; left:71.7%">Sensor Gas</h2><br>
            <div id="chart_div" style="width: 400px; height: 120px;position:absolute;top:30%; left:70%"></div>
        </center>

        <br><br>
        <center>
        <h2>Datos del Sensor</h2>
        <br>
        </center>

        <!--<table id="example" class="display">
            <thead>
            <tr>
                <th>Aula{{aula.number}}</th>
                <th>SensorMAC:{{aula.sensor.MAC_Sensor}}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {%for item in datos%}
                <tr>
                    <td>Fecha: {{item.fechaHora}}</td>
                    <td>Humedad : {{item.Humedad}}</td>
                    <td>Temperatura: {{item.Temperatura}}</td>
                    <td>Calidad_Aire : {{item.Calidad_Aire}}</td>
                </tr>
                {%endfor%}
            </tr>
            </tbody>
        </table> -->

        <br><br>
        <table id="example" class="display">

            <thead>
            <tr>
                <th>Aula{{aula.number}}</th>
                <th>SensorMAC:{{aula.sensor.MAC_Sensor}}</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    {%for item in manueh%}
                    <tr>
                        <td>Fecha: {{item.fechaHora}}</td>
                        <td>Humedad : {{item.Humedad}}</td>
                        <td>Temperatura: {{item.Temperatura}}</td>
                        <td>Calidad_Aire : {{item.Calidad_Aire}}</td>
                    </tr>
                    <!--{{ manueh.full_name|upper }}-->
                {% endfor %}
                </tr>
            </tbody>
        </table>


<div class="pagination">
    <span class="step-links">
        {% if manueh.has_previous %}
            <a href="?id={{aula.number}}&&page=1">&laquo; first</a>
            <a href="?id={{aula.number}}&&page={{ manueh.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ manueh.number }} of {{ manueh.paginator.num_pages }}.
        </span>

        {% if manueh.has_next %}
            <a href="?id={{aula.number}}&&page={{ manueh.next_page_number }}">next</a>
            <a href="?id={{aula.number}}&&page={{ manueh.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    </body>
</html>
{% endblock %}
