<html>
  <head>
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">
      google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Gas', 1]
        ]);

        var options = {
          width: 800, height: 224,
          redFrom: 600, redTo: 1100,
          yellowFrom:200, yellowTo: 600,
          minorTicks: 10,
          max:1100
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

        chart.draw(data, options);

        setInterval(function() {
          data.setValue(0, 1,{{ultimoDato.Calidad_Aire}});

          chart.draw(data, options);
        }, 3000);
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 400px; height: 120px;"></div>
  </body>
</html>
