{% extends 'base.html' %}

{% block content %}

<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>
  <div class="container">
    <center>
      <h2>SextoSentido</h2>
       <img src="http://laguiatv.abc.es/Media/201407/08/bruce--644x362.jpg" alt="Flowers in Chania">
<br>
Bienvenido a la pagina principal del sensor SextoSentido, Porfavor Logueese en su cuenta.
   </center>
  </div>
</body>
</html>
{% endblock %}


