

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>

    <p><a href="{% url 'logout' %}">logout</a></p>

    <p>
    Aulas: <a href="/aulas">
    <img border="1" alt="Aulas" src="" width="100" height="100">
    </a>
    </p>

</body>
</html>